/* Cool grey palette:
500, #616e7c
50, #f5f7fa
100, #e4e7eb
200, #cbd2d9
300, #9aa5b1
400, #7b8794
500, #616e7c
600, #52606d 
700, #3e4c59
800, #323f4b
900, #1f2933

blue grey palette:
500, #627d98
50, #f0f4f8
100, #d9e2ec
200, #bcccdc
300, #9fb3c8
400, #829ab1
500, #627d98
600, #486581 
700, #334e68
800, #243b53
900, #102a43

Dark grey background::after
#121212
*/

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// COLORS
$background-color-primary-dark: #102a43;
$background-color-secondary-dark: #243b53;
$accent-color-dark: #bcccdc;
$text-primary-color-dark: #eeeeee;

$background-color-primary-light: #ffffff;
$background-color-secondary-light: #fafafa;
$accent-color-light: #243b53;
$text-primary-color-light: #102a43;
$element-size: 3rem;

// .form-range::-moz-range-thumb {
//   background: blue !important;
// }

// .form-range::-ms-thumb {
//   background-color: red !important;
// }

:root.dark-theme {
  --background-color-primary: #{$background-color-primary-dark};
  --background-color-secondary: #{$background-color-secondary-dark};
  --accent-color: #{$accent-color-dark};
  --text-primary-color: #{$text-primary-color-dark};

  input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .tooltip-inner {
    box-shadow: none;
  }
}

:root {
  --background-color-primary: #{$background-color-primary-light};
  --background-color-secondary: #{$background-color-secondary-light};
  --accent-color: #{$accent-color-light};
  --text-primary-color: #{$text-primary-color-light};
  --element-size: #{$element-size};

  .tooltip-inner {
    box-shadow: 10px 10px 15px lightgrey;
  }
  input::-webkit-calendar-picker-indicator {
    filter: invert(0);
  }
}
.buttonTheme {
  color: var(--text-primary-color);
  background-color: var(--background-color-secondary);
}
body {
  background-color: var(--background-color-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p,
a,
.navBar,
h2,
h3,
th,
td,
tr,
tbody,
.themeText,
.info,
.arrow {
  color: var(--text-primary-color);
}
.nav-link:hover,
.active {
  color: var(--accent-color) !important;
}

form input,
.generateUsers input {
  color: var(--accent-color) !important;
  background-color: var(--background-color-secondary) !important;

  &::placeholder {
    color: var(--accent-color) !important;
  }
}

.formPosition {
  margin: 100px auto;
  width: 75%;
}

.generateUsers {
  width: 100px;
  height: 40px;
}

.participants {
  width: max-content;
  background-color: var(--background-color-secondary);
}

.formError {
  color: #dc3545;
}

.active {
  border-bottom: solid 2px var(--text-primary-color);
}

.submitImgButton {
  margin-top: -50px;
}

.container {
  margin-top: 50px;
}

.swal2-container.swal2-center > .swal2-popup,
.swal2-confirm,
.sv_container,
.sv_body,
.sv_q,
.sv-string-viewer,
.sv_main .sv_p_root > .sv_row,
.sv_q_erbox {
  background-color: var(--background-color-secondary) !important;
  color: var(--text-primary-color) !important;
  border: none !important;
}
input[type="file"] {
  display: none;
}

.sv_q_erbox .sv-string-viewer {
  color: #f27474 !important;
}
.heart {
  color: #f27474;
  margin: 0 2px 0 2px;
}

.sv_progress span {
  display: none;
}

.loader {
  border: 5px solid var(--text-primary-color);
  border-top: 5px solid var(--background-color-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  margin: 70px 0 30px 0;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.form-range::-webkit-slider-thumb {
  background-color: var(--text-primary-color);
}

.tooltip-inner {
  padding: 10px;
  font-size: 12px;
  background-color: var(--background-color-secondary);
  color: var(--text-primary-color);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--background-color-secondary);
}

.feedbackTitle {
  margin: 100px 0 100px 0;
}

.arrow {
  display: flex;
  justify-content: center;
  font-size: 75px;
  margin-top: 50px;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 1s, opacity 1s linear;
}

.fadeIn {
  height: auto;
  opacity: 1;
  transition: width 1s, opacity 1s 1s;
}

.visible {
  display: none;
}
