/* Cool grey palette:
500, #616e7c
50, #f5f7fa
100, #e4e7eb
200, #cbd2d9
300, #9aa5b1
400, #7b8794
500, #616e7c
600, #52606d 
700, #3e4c59
800, #323f4b
900, #1f2933

blue grey palette:
500, #627d98
50, #f0f4f8
100, #d9e2ec
200, #bcccdc
300, #9fb3c8
400, #829ab1
500, #627d98
600, #486581 
700, #334e68
800, #243b53
900, #102a43

Dark grey background::after
#121212
*/
@import "node_modules/bootstrap/scss/bootstrap.scss";
// // Your variable overrides
// $body-bg: red;
// $body-color: red;
// :root {
//   --bs-blue: red;
//   --bs-indigo: red;
//   --bs-purple: red;
//   --bs-pink: red;
//   --bs-red: red;
//   --bs-orange: red;
//   --bs-yellow: red;
//   --bs-green: red;
//   --bs-teal: red;
//   --bs-cyan: red;
//   --bs-white: red;
//   --bs-gray: red;
// }

:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #fafafa;
  --accent-color: #334e68;
  --text-primary-color: #121212;
  --element-size: 3rem;
  /* background-color: var(--background-color-primary); */
}

/* Define styles for the root window with dark - mode preference  */

:root.dark-theme {
  --background-color-primary: #121212;
  --background-color-secondary: #334e68;
  --accent-color: #bcccdc;
  --text-primary-color: #eeeeee;
  /* background-color: var(--background-color-primary); */
}

body {
  background-color: var(--background-color-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p,
a,
.navBar,
h2,
th,
td {
  color: var(--text-primary-color);
}
.nav-link:hover,
.active {
  color: var(--accent-color) !important;
}

input {
  background-color: var(--background-color-secondary) !important;
}
input::placeholder {
  color: var(--accent-color) !important;
}

.buttonTheme {
  color: var(--text-primary-color);
  background-color: var(--background-color-secondary);
}

.formPosition {
  margin: 100px auto;
  width: 75%;
}

.generateUsers {
  width: 100px;
  height: 40px;
}

.participants {
  width: max-content;
  background-color: var(--background-color-secondary);
}

.formError {
  color: #dc3545;
}

.active {
  border-bottom: solid 2px var(--text-primary-color);
}

.submitImgButton {
  margin-top: -50px;
}

.dark-mode {
  justify-content: end;
  display: flex;
  padding: 50px 100px 0 0;
}
